
<!doctype html>
<html lang="en">
<head>

    <link href="{{ url_for('static', path='css/index.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    {% block head %}

    {% endblock %}
    <title>Минимаркет</title>
</head>
<body>
        <nav class="flex justify-between text-3xl my-3">

        <ul class="flex ml-10">
            <li>Минимаркет</li>
        </ul>
        <ul class="flex gap-5 mr-10">
            <li><a href="http://127.0.0.1:8000/api/v1/card">Корзина</a></li>
        </ul>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>